          * {
            box-sizing: border-box;
          }

          .wrapper {
            max-width: 1920px;
            margin: auto;
            box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.2);
          }
          /*///////////////////////////Header////////////////////////////////////*/

          header {
            width: 1170px;
            height: 130px;
            margin: auto;
            text-align: justify;
          }

          header::after {
            width: 100%;
            display: inline-block;
            content: "";
          }

          header div, header p {
            display: inline-block;
            vertical-align: middle;
          }

          .logo::before {
            vertical-align: middle;
            height: 130px;
            display: inline-block;
            content: "";
          }

          img {
            vertical-align: middle;
          }

          header a:first-child {
            color: deeppink;
            text-decoration: none;
          }
          /*////////////////////////////////////firstblock////////////////////////////////////*/

          .firstblock {
            background-image: url(../img/firstbg.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 740px;
            width: 100%;
            text-align: center;
          }

          .firstblockfront {
            background: linear-gradient(to right, rgba(102, 62, 88, 0.9), rgba(0, 0, 0, 0.4));
            height: 740px;
          }

          h1 {
            padding-top: 120px;
            color: white;
            font-size: 34px;
          }

          .triangle {
            margin: auto;
            width: 960px;
            background: rgba(0, 124, 184, 0.5);
            padding: 10px;
            position: relative;
            color: #fff;
            text-align: left;
            font-size: 25px;
          }

          .triangle::after {
            content: '';
            position: absolute;
            left: 450px;
            bottom: -60px;
            border: 30px solid transparent;
            border-top: 30px solid rgba(0, 124, 184, 0.5);
          }

          .rar {
            position: absolute;
            width: 200px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0, 124, 184, 1);
            text-align: center;
          }

          .rar::before {
            vertical-align: middle;
            height: 100%;
            display: inline-block;
            content: "";
          }

          .rar p {
            display: inline-block;
          }

          @media (max-width:980px) {}
