<!DOCTYPE html>
<html lang="ru">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="MobileOptimized" content="320">
<meta name="apple-mobile-web-app-title" content="Курьер Онлайн">
<meta name="application-name" content="Курьер Онлайн">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="theme-color" content="#125688">
<link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileImage" content="./favicons/apple-touch-icon-144x144.png">
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="./favicons/favicon.ico">
<link rel="icon" href="./favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="./favicons/favicon-32x32.png">
<link rel="icon" sizes="192x192" href="./favicons/android-chrome-192x192.png">
<link rel="apple-touch-icon-precomposed" href="./favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="./favicons/apple-touch-icon-120x120.png">


<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./favicons/apple-touch-icon-144x144.png">

<link rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="./favicons/apple-touch-icon-180x180.png">



<meta property="og:title" content="Курьер Онлайн | Доставка " />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://курьер" />
<meta property="og:image" content="http://курьер/img/banner.jpg" />
<meta property="og:description" content="Доставка между Украиной и ЛДНР   Россией посылок, документов и интернет-заказов." />



<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="css/vendor.css?v={ver}">
<link rel="stylesheet" href="css/main.css?v={ver}">


<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <title>Курьер Онлайн</title>
</head>

<body>
        <div class="wrapper">
                
                <header>
                        <div class="frame">
                    <div class="logo"><img src="img/logo.svg" alt="Логотип"></div>
                    <p>Курьерская доставка по ДНР<br><strong>Работаем с 9<sup>00</sup> до 18<sup>00</sup></strong></p>
                    <div class="btnb" id="toptbuttons">
                        <button data-remodal-target="modal-callcourier" class="buttonmodal">
                        <i class="fa fa-truck"></i>
                        <p>Вызвать курьера</p>
                    </button>
                    <button data-remodal-target="modal-calc" class="buttonmodal">
                        <i class="fa fa-calculator"></i>
                        <p>Рассчитать доставку</p>
                    </button>
                    <button data-remodal-target="modal-search" class="buttonmodal">
                        <i class="fa fa-search" ></i>
                        <p>Отследить заказ</p>
                    </button></div>
                    
                    <p class="tel">
                        <a class="atel" href="tel: +380662497454">
                            <i class="fa fa-phone-square"></i>
                            +38 (066) 249-74-54
                        </a><br>
                        <a class="atel" href="tel: +380713683132">
                            <i class="fa fa-phone-square"></i>
                            +38 (071) 368-31-32
                        </a><br>
                        <a data-remodal-target="modal-cb" href="#">Заказать звонок менеджера</a>
                    </p>
                </div>
                
                </header>

                
            <div class="firstblock">
                <div class="cell">
                    <h1>КУРЬЕРСКАЯ СЛУЖБА<br>ДЛЯ ВАШЕГО ИНТЕРНЕТ-МАГАЗИНА</h1>
                    <p class="triangle">Доставка «в руки» по ДНР <span>от 1 до 3 дней</span></p>
                    <div class="add-headers">
                        <p class="add-header"><i class="fa fa-check-square" ></i> Наложенный<br>платеж</p>
                        <p class="add-header"><i class="fa fa-check-square"></i> Подъем на<br>этаж</p>
                        <p class="add-header"><i class="fa fa-check-square"></i> Высокий уровень<br>сервиса</p>                                                
                    </div>
                </div>
            </div>
            <div class="secondblock">
                <div class="threedeliveries">
                    <div class="threedeliveriesform">
                        <div class="hat">
                            <h2>Получите бесплатно<br>три пробные доставки</h2>
                            <p>и оцените качество наших услуг!</p>
                        </div>
                        <form class="callback_form">
                            <p><label  class="label">Ваше имя<br><input type="text" name="name" class="name">
                                </label></p>
                            <p><label  class="label">Контактный телефон<br><input type="tel" name="phone_number" class="tell"
                                ></label></p>
                            <p class="submitt"><input type="submit" value="Получить 3 пробные доставки"></p>
                        </form>
                    </div>
                    <div class="threedeliveriesimg"></div>
                </div>
            </div>
            <div class="thirdblock">
                <h2>Почему обратиться в нашу курьерскую службу<br>выгоднее, чем иметь штат собственных курьеров?</h2>
                <h3 class="triangle">Какие проблемы возникли у большинства интернет-магазинов,<br>имеющих собственных курьеров</h3>
                <div class="items">
                    <div class="item1"><span></span>
                        <p>Высокая и зачастую<br>неокупаемая з/п курьеров</p>
                    </div>
                    <div class="item2"><span></span>
                        <p>Необходимо тратить силы,<br>время и нервы на организацию<br>работы штата курьеров</p>
                    </div>
                    <div class="item3"><span></span>
                        <p>Опаздывают или вовсе<br>не выходят на работу</p>
                    </div>
                </div>
                <div>
                    <div class="item4"><span></span>
                        <p>При поломке автомобиля<br>курьер "выпадает" из работы<br>на 1-2 дня</p>
                    </div>
                    <div class="item5"><span></span>
                        <p>Собственные курьеры часто<br>переносят доставку заказов<br>из-за пробок и большой<br>территории развоза
                            доставок</p>
                    </div>
                    <div class="item6"><span></span>
                        <p>Курьеры отвлекают звонками<br>Ваших операторов от оформления<br>новых заказов</p>
                    </div>
                </div>
            </div>
            <div class="seventhblock">
                <h2>Каждый Ваш Клиент будет доволен</h2>
                <p>за счёт отслеживаемой системы взаимодействия<br>нашей курьерской службы с получателем</p>
                <div class="tbcll">
                    <div class="tablecellone"></div>
                    <div class="tablecelltwo">
                        <div class="sevenlinecontent"><span><i class="fa fa-info-circle" ></i></span>
                            <p><strong>Оператор оповестит Вашего покупателя</strong> о сумме, номере заказа и времени прибытия
                                курьера</p>
                        </div>
                        <div class="sevenlinecontent"><span><i class="fa fa-phone" ></i></span>
                            <p><strong>Вежливый курьер созвонится с покупателем</strong> за 30 минут до встречи</p>
                        </div>
                        <div class="sevenlinecontent"><span><i class="fa fa-handshake-o" ></i></span>
                            <p><strong>Клиент примет посылку</strong> в четко оговоренное время из рук в руки</p>
                        </div>
                        <div class="sevenlinecontent"><span><i class="fa fa-shopping-bag" ></i></span>
                            <p>Мы понимаем, что покупать одежду или обувь через интернет без примерки сложно - <strong>мы рады отвести клиенту несколько размеров и дать 15 минут на выбор</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sixthblock">
                <h2>Работаете через поставщиков?</h2>
                <div class="sixtcontent">
                    <div class="circle first"></div>
                    <p>Заберем у поставщиков</p>
                </div>
                <div class="chevron"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                <div class="sixtcontent">
                    <div class="circle second"></div>
                    <p>Упакуем</p>
                </div>
                <div class="chevron"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                <div class="sixtcontent">
                    <div class="circle"></div>
                    <p>Доставим клиенту</p>
                </div>
            </div>

        
            <div class="ninthblock">
                <div class="ninthcontent">
                    <div class="bb">
                        <p>Вы экономите на<br>доставке,  отправляя</p>
                        <h3>5 и более заказов</h3>
                    </div>
                    <div class="rr"></div>
                </div>
            </div>
            <div class="eleventhblock">
                <h2>Дополнительно осуществим</h2>
                <div class="firstdop">
                    <h3>Возврат от покупателя</h3>
                </div>
                <div class="secondop">
                    <h3>Обмен</h3>
                </div>
                <div class="fourthdop">
                    <h3>Подъем на этаж</h3>
                </div>
            </div>
            <div class="shopsblock">
                <h2>С нами сотрудничают:</h2>
                <div class="shops">
                    <a href="https://texprom.net/" target="_blank"><img src="./img/texprom.jpg"></a>
                    <div class="shopcontent">
                            <a href="https://texprom.net/" target="_blank">Техпром.net</a>
                            <p>
                                Интернет-магазин инструмента и бытовой техники в ДНР
                            </p>
                            <a href="https://texprom.net/" target="_blank">texprom.net</a>
                    </div>
                </div>
                <div class="shops">
                    <a href="https://vk.com/stilnaya_dn" target="_blank"><img src="./img/stilnaya.jpg"></a>
                    <div class="shopcontent">
                            <a href="https://vk.com/stilnaya_dn" target="_blank">Стильная</a>
                            <p>
                                Интернет-магазин одежды и парфюмерии в ДНР
                            </p>
                            <a href="https://vk.com/stilnaya_dn" target="_blank">vk.com/stilnaya_dn</a>
                    </div>
                </div>
                
            </div>
            <!-- <div class="tenthblock">
                <h2>Большое количество Доставок в день?</h2>
                <form class="callback_form">
                    <p><strong>Оставьте заявку и узнайте,</strong><br><span>как сократить расходы на доставку</span><br>благодаря нашим
                        пакетным предложениям!</p>
                    <p>
                        <label  class="label">
                            Ваше имя<br>
                            <input type="text" name="name" class="name">
                        </label>
                    </p>
        
                    <p>
                        <label  class="label">
                            Контактный телефон<br>
                            <input type="tel" name="phone_number" class="tell">
                        </label>
                    </p>
                    <p
                        class="submitt"><input type="submit" value="Оставить заявку"></p>
                        <p>В течении 7 минут вам перезвонит наш менеджер и<br>проинформирует, как Вы можете снизит расходы<br>благодаря
                            пакетным предложениям</p>
                </form>
            </div> -->

            <div class="twelfthblock">
                <h2>Нужно срочно с нами связаться?</h2>
                <p>Звоните по телефонам:</p>
                <p>
                    <a href="tel: +380662497454">+38 (066) 249-74-54</a><br>
                    <a href="tel: +380713683132">+38 (071) 368-31-32</a><br><br>
                    
                    или <a href="#" data-remodal-target="modal-cb">Закажите звонок менеджера</a>
                </p>
            </div>
         
        </div>

<div class="remodal" data-remodal-id="modal-calc">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div id="calc" v-cloak>
        <div class="calc__overlay" v-if="overlay" @click="overlay = false"></div>
        <form action="#" class="calc__form">

            <h2 class="form-calc__price">Стоимость доставки<span v-if="total > 0">: {{ total + 'р.'}}</span></h2>
            <span class="form-calc__section-title">Маршрут</span>
            <div class="fifty">
                <typeahead direction-text="Откуда..." :options="citys" v-model="direction.from">
                </typeahead>
            </div>

            <div class="fifty" >
                <typeahead direction-text="Куда..." :options="citys" v-model="direction.to">
                </typeahead>
            </div>

            <span class="form-calc__section-title">Вид отправления</span>

            <input v-model="typeOfLoad" value="docs" type="radio" name="typeOfLoad" id="docs" class="form-calc__radio">
            <label for="docs" style="margin-right:10px">Документы</label>

            <input v-model="typeOfLoad" value="load" type="radio" name="typeOfLoad" id="load" class="form-calc__radio">
            <label for="load">Груз</label>


            <div class="form-calc__section-load" v-if="typeOfLoad === 'load'">
                <div v-for="(field, index) in loadFields" :key="field" style="position: relative">
                    <a v-if="index > 0" href="#" class="form-calc__button-delete" @click.prevent="delPlace(index)">&times;</a>
                    <div class="fifty" style="vertical-align:top">
                        <span>Вес, кг</span><br>
                        <input autofocus type="text" style="margin-bottom: 15px" placeholder="Вес, кг" oninput="this.value = this.value.replace(',', '.')"
                            @input="add('weight')" v-model.number="field.weight">
                    </div>

                    <div class="fifty">
                        <div>
                            <span>Объем, м³</span>
                            <a @click.prevent="goCalcO(index)" href="#" style="position: absolute; right: 0; top: 2px">Рассчитать</a>

                            <input type="text" placeholder="Объем, м³" oninput="this.value = this.value.replace(',', '.')" @input="add('o')" v-model.number="field.o"
                                ref="volume">
                        </div>

                        <div class="form-calc__window_calc-volume" v-if="field.isCalcO">
                            <div class="three">
                                <span>Длина, см</span><br>
                                <input autofocus type="number" placeholder="Длина, см" oninput="this.value = this.value.replace(',', '.')" v-model.number="field.d">
                            </div>
                            <div class="three">
                                <span>Ширина, см</span><br>
                                <input type="number" placeholder="Ширина, см" oninput="this.value = this.value.replace(',', '.')" v-model.number="field.s">
                            </div>
                            <div class="three">
                                <span>Высота, см</span>
                                <br>
                                <input type="number" placeholder="Высота, см" oninput="this.value = this.value.replace(',', '.')" v-model.number="field.v">
                            </div>
                            <div class="three" style="width:17%">
                                <a @click.prevent="calcO(index)" href="#" class="form-calc__button-save">OK</a>
                            </div>
                        </div>
                    </div>

                    <div class="fifty">
                        <span>Стоимость груза, р</span><br>
                        <input type="text" placeholder="Оценочная стоимость, р" oninput="this.value = this.value.replace(',', '.')" @input="add('price')"
                            v-model.number="field.price">
                    </div>
                </div>

                <div style="text-align: right;">
                    <button class="form-calc__button-add" @click.prevent="addPlace" v-if="bigDisplay">+ Добавить место</button>
                </div>
            </div>
            <br>
            <div class="fifty" style="padding-top:13px"  v-if="typeOfLoad === 'load'">
                <input v-model="cashPay.active" class="form-calc__checkbox-nal" type="checkbox" id="nal">
                <label for="nal" class="form-calc__label-nal">Оплата наложенным платежом</label>
            </div>

            <div v-if="cashPay.active && typeOfLoad === 'load'" class="fifty">
                <span>Сумма, р</span>
                <input autofocus type="number" style="width: 50%; margin-left: 10px;" oninput="this.value = this.value.replace(',', '.')"
                    @input="validate" v-model.number="cashPay.sum">
            </div>
        </form>
    </div>


</div>
<script src="https://use.fontawesome.com/6554f16cff.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/vendor.js?v={ver}"></script>
<script src="./js/main.js?v={ver}"></script>

<script type='text/javascript'>
(function(){ var widget_id = 'BjMhIq9dMV';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45617577 = new Ya.Metrika({ id:45617577, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/45617577" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<div class="remodal" data-remodal-id="modal-search">
        <button data-remodal-action="close" class="remodal-close"></button>
        <form class="modal callback_form">
               <p>
                   <label class="label">
                       Номер заказа:<br>
                       <input type="search"  placeholder="Введите номер заказа">
                   </label>
               </p>
               <p class="submitt"><input type="submit" value="Отследить">
               </p>
           </form>
</div>
<div class="remodal" data-remodal-id="modal-callcourier">
        <button data-remodal-action="close" class="remodal-close"></button>
        <form class="modal callcouire_form">
            <p>
                <label class="label">
                    ФИО отправителя<br>
                    <input type="text" name="name_otp" class="name">
                </label>
            </p>
            <p>
                <label class="label">
                    ФИО получателя<br>
                    <input type="text" name="name_pol" class="name">
                </label>
            </p>
            <p>
                <label class="label">
                    Город и адрес отправления<br>
                    <input type="text" name="city_otp" class="name">
                </label>
            </p>
            <p>
                <label class="label">
                    Город и адрес получения<br>
                    <input type="text" name="city_pol" class="name">
                </label>
            </p>
            <p>
                <label class="label">
                    Приблизительный вес, кг<br>
                    <input type="number" min="0.1" step="0.1" name="weight" class="name">
                </label>
            </p>
    
            <p>
                <label class="label">
                    Контактный телефон<br>
                    <input type="tel" name="phone" class="tell">
                </label>
            </p>
            <p>
                <label class="label">
                    <input type="checkbox" name="cashpay" value="Наложенный платеж" class="checkbox">
                    Наложенный платеж                
                </label>
            </p>
            <p class="submitt"><input type="submit" value="Отправить">
            </p>
        </form>
    </div>
<div class="remodal" data-remodal-id="modal-cb">
        <button data-remodal-action="close" class="remodal-close"></button>
        <form class="callback_form">
                <p><label  class="label">Ваше имя<br><input type="text" name="name" class="name">
                    </label></p>
                <p><label  class="label">Контактный телефон<br><input type="tel" name="phone_number" class="tell"
                    ></label></p>
                <p class="submitt"><input type="submit" value="Заказать звонок"></p>
            </form>
    </div>
</body>

</html>